.modules-wrapper {
    width: 100%;
    height: 80%;
    max-height: 100%;
    display: flex;
    flex-wrap:wrap;     
    padding: 0px;
    margin: 0px;
    background-color: steelblue;
}

.mod-1 > div {
    width: 100%;
    height: 100%;
    flex: 1 1 90%; 
}
.mod-2 > div {
    width: 50%;
    height: 100%;  
    flex: 1 1 40%;  
}
.mod-3>div {
    width: 50%;
    height: 50%;  
    flex: 1 1 40%;
}
.mod-4 > div { 
    width: 50%;
    height: 50%;  
    flex: 1 1 40%;  
}
.mod-5 > div {
    width: 33%;
    height: 50%; 
    flex: 1 1 20%;
}
.mod-6 > div { 
    width: 33%;
    height: 50%; 
    flex: 1 1 20%;   
}
.mod-7 > div {
    width: 25%;
    height: 33%;
    flex: 1 1 15%; 
}
.mod-8 > div { 
    width: 25%;
    height: 33%;   
    flex: 1 1 15%; 
}
.mod-9 > div { 
    width: 25%;
    height: 33%;   
    flex: 1 1 15%; 
}

@media screen and (max-width: 600px){
    .modules-wrapper {
        flex-direction: column;
        justify-content: center;
    }
}