#modules {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h2 {
    height: 2%;
    padding: 0;
    margin: 1em 0 -1em;
}

.modules-wrapper {
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;     
    padding: 2.5em 4em 0;
    margin: auto;
    max-width: 1500px;
}
.modules-note {
    margin-bottom: 1em;
    padding-bottom: 1em;
    clear: both;
    width: 100%;
    height: 20px;
}

.mod-1 > div {
    width: 100%;
    height: 35%;
    flex: 1 1 90%; 
}
.mod-2 > div {
    width: 50%;
    height: 40%;  
    flex: 1 1 40%;  
}
.mod-3>div {
    width: 50%;
    height: 35%;  
    flex: 1 1 40%;
}
.mod-4 > div { 
    width: 50%;
    height: 35%; 
    flex: 1 1 40%;  
}
.mod-5 > div {
    width: 33%;
    height: 35%; 
    flex: 1 1 20%;
}
.mod-6 > div { 
    width: 33%;
    height: 40%; 
    flex: 1 1 30%;   
}
.mod-7 > div {
    width: 25%;
    height: 40%;
    flex: 1 1 15%; 
}
.mod-8 > div { 
    width: 25%;
    height: 30%;   
    flex: 1 1 15%; 
}
.mod-9 > div { 
    width: 25%;
    height: 30%;   
    flex: 1 1 15%; 
}

@media screen and (max-width: 600px){
    .modules-wrapper {  
        padding: 4em 0 0;
        max-width: 500px;
    }
    .modules-wrapper > div {
        flex: 1 1 90%; 
        height: 30%;    
    }
}
@media screen and (max-width: 1600px){
    .modules-wrapper {     
        padding: 2em 2em 0;
        max-width: 1200px;
    }
}

@media screen and (max-width: 1250px){
    .modules-wrapper { 
        padding: 2em 1em 0;
        max-width: 1000px;
    }
    #modules {
        overflow-y: auto;
    }
}