.module-container {
    min-width: 25%;
    max-width: 500px;
    display: flex;
    padding: 20px;
}
.module-container >a {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    text-decoration: none;
    box-shadow: 0px 0px 15px 1px rgba(31, 31, 31, 0.8);
    transition: 1s;
    overflow: hidden;
}
.module-container >a:hover {
    box-shadow: 0px 0px 15px 10px rgba(31, 31, 31, 0.8);
    transition: 1s;
    color: #ff8b1f;
}
.module-image  {
    height: 45%;
}
.module-image > img {
    height: 100%;
    width:100%;
    border-radius: 2em 2em 0 0;
    object-fit:cover;
}

.module-inset-image {
    height: 10px;
    width: 100%;
}

.module-inset-image > img {
    margin: -60% auto 0;
    max-height: 50px;
    max-width: 50px;
    border-radius: 4px;
    object-fit:cover;
}

.module-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(55% - 10px);
    width: 100%;
}
.module-title {
    width: 100%;
    margin: 2px auto;
    padding: 5px;
    font-size: 2rem;
    font-weight: bold;
}

.module-bio {
    margin: 2px 10px;
    font-size: 1.2rem;
}

.module-secondary-link  button {
    border: none;
    padding: 2px;
    font-size: 1.75em;
    transition: .5s;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    color: #000000;
    box-shadow: 0px -3px 4px 0px inherit;
}
.module-secondary-link  button:hover {
    background-color: rgba(0,0,0,1);
    color: #ffffff;
    transition: .5s;
    letter-spacing: .04em;
}
.module-details > div {
    flex: display;
    flex-direction: column;
}

@media screen and (max-height: 1000px){
    .module-title {
        width: auto;
        margin: 2px auto;
        padding:0;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .module-inset-image {
        max-height: 35px;
        width:auto;
    }
}
@media screen and (max-width: 600px){
    .module-title {
        font-size: 1rem;
    }
    .module-bio {
        margin: 2px 10px;
        font-size: 0.9rem;
    }
    .module-inset-image {
        max-height: 35px;
    }
    .module-secondary-link  button {
        font-size: 1em;
    }
}