.module-container {
    min-width: 25%;
    max-width: 100%;
    display: flex;
    padding: 20px;
    flex-direction:initial;
    border: 1px solid red;
}
.module-container >a {
    width: 100%;
    height: 100%;
    background-color: pink;
    border-radius: 5em;
    text-decoration: none;
    color: inherit;
}
.module-image  {
    padding: 0;
    margin: 0;
    height: 50%;

    width:auto;
}
.module-image > img {
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    border-radius: 5em 5em 0 0;
    object-fit:cover;
    box-shadow: 0 10px 3px rgb(26, 26, 26,.8);
}
.module-title {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    font-size: 4rem;
}