.scroll-btn {
    max-height: 12%;
    margin: 0 auto;
    background: transparent;
    opacity: 1;
    background-color: none;
}
.scroll-btn > .arrow-link {
    border: none;
    font-size: 9em;   
    font-weight: 300; 
    background: transparent;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 20px;
    transition: .5s;
    text-decoration: none;
}

.scroll-btn > .arrow-link:hover {
    text-shadow: 0 0 20px rgba(255,255,255,.8), 0 0 20px rgba(255,255,255,.8), 5px 5px 40px;
    transition: .5s;
}

.scroll-btn > .scroll-btn-message {
    opacity: 1;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 20px;
    transition: .5s;
}
.scroll-btn > .scroll-btn-message:hover {
    text-shadow: 0 0 20px rgba(255,255,255,.8), 0 0 20px rgba(255,255,255,.8), 5px 5px 40px;
    transition: .5s;
}