.main-wrapper {
    font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal;
}
.home-wrapper {
    width: 100%;
    background-color: #ffffff;
}
.extras-wrapper {
    height:min-content;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    margin: 0 auto;
    padding: 10px 0;
}

.extras-wrapper a{
    text-decoration: none;
    color: #00ff90;
}